* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #FEFEFE;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px; }

.btn-primary {
  background: #fff;
  border-color: #DD1C1A;
  color: #DD1C1A; }
  .btn-primary:hover {
    color: #fff;
    background: #DD1C1A;
    border-color: #fff; }

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #DD1C1A; }

.carousel-indicators li {
  border-color: #DD1C1A; }

.carousel-indicators li.active {
  background-color: #DD1C1A; }

.glyphicon-chevron-up {
  color: #DD1C1A;
  font-weight: 600; }

.control-custom {
  color: #DD1C1A;
  font-size: 30px;
  margin: 20px; }
  .control-custom:hover {
    color: rgba(230, 89, 88, 0.8); }

.navbar-toggle {
  border-color: #fff; }
  .navbar-toggle:hover {
    background: rgba(230, 89, 88, 0.8); }

.icon-bar {
  background: #fff; }

::-moz-selection {
  background: rgba(51, 51, 51, 0.8);
  color: #fff;
  text-shadow: none; }

::selection {
  background: rgba(51, 51, 51, 0.8);
  color: #fff;
  text-shadow: none; }

header {
  background: #F0F0F0; }
  header .logo {
    padding-top: 0.5em;
    color: #DD1C1A;
    font-weight: 900; }
    header .logo p {
      margin: 0; }
    header .logo a {
      display: inline-block; }
  header .top-menu {
    margin-bottom: 1.25em;
    margin-top: 0.5em;
    text-align: right; }
    header .top-menu h4 {
      font-weight: 900;
      margin-top: 40px; }
    header .top-menu a {
      display: inline-block;
      padding: 1.1em 1.05em;
      font-size: 1em;
      color: #666666;
      line-height: 0.2em; }
      header .top-menu a:hover {
        color: #DD1C1A; }
    header .top-menu .fr {
      border-left: 1px solid #DD1C1A; }
  header .menu {
    background: #DD1C1A;
    width: 100%;
    margin-bottom: 0px; }
    header .menu .navbar-header .navbar-brand {
      font-size: 1.15em;
      color: #fff;
      font-weight: 900; }
      header .menu .navbar-header .navbar-brand:hover {
        text-decoration: none;
        background: rgba(230, 89, 88, 0.8); }
    header .menu ul {
      list-style: none;
      overflow: hidden;
      margin: 0;
      padding: 0; }
      header .menu ul li {
        display: inline-block;
        float: left;
        line-height: 2em; }
        header .menu ul li a {
          display: inline-block;
          padding: 1.25em 1.5em;
          font-size: 1em;
          color: #fff; }
          header .menu ul li a:hover {
            text-decoration: none;
            background: rgba(230, 89, 88, 0.8); }
  header .search {
    float: right;
    width: 28%;
    padding-top: 15px; }
    header .search .search-menu input[type="text"] {
      background: none;
      border: 2px solid rgba(255, 255, 255, 0.7);
      color: rgba(255, 255, 255, 0.7);
      width: 90%;
      height: 30px;
      padding: 0 10px;
      padding-right: 46px; }
      header .search .search-menu input[type="text"]:hover {
        color: #fff;
        border: 3px solid #fff; }
      header .search .search-menu input[type="text"]:focus {
        color: #fff;
        border: 3px solid #fff; }
      header .search .search-menu input[type="text"]::placeholder {
        color: rgba(255, 255, 255, 0.7); }
    header .search .search-menu .search-icon {
      color: rgba(255, 255, 255, 0.8);
      background: none;
      border: none;
      cursor: pointer;
      padding: 6px 6px 6px;
      font-size: 16px;
      line-height: 16px;
      right: 0;
      position: absolute; }
      header .search .search-menu .search-icon:hover {
        color: #fff;
        font-size: 18px; }

.main-carousel .carousel .carousel-inner .item p {
  color: #fff;
  font-size: 28px; }

.main-catalogue .page-header h1 {
  color: #DD1C1A;
  font-weight: 900; }
.main-catalogue .thumbnail .caption {
  text-align: center; }
  .main-catalogue .thumbnail .caption h3 {
    color: #DD1C1A; }
.main-catalogue .controls {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  justify-content: center; }

.main-demande {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #F0F0F0;
  color: #666666;
  border: 1px solid #E65958;
  padding: 20px; }
  .main-demande h2 {
    font-weight: 900; }
  .main-demande .form-group .form-control {
    border: 1px solid #E65958; }
  .main-demande .form-group .btn-default {
    border: 1px solid #E65958; }
  .main-demande .form-control {
    border: 1px solid #E65958; }

.main-customers-say .customers-say-bg {
  background: url("../images/bg.jpg"); }
.main-customers-say .panel {
  border: 1px solid #DD1C1A; }
  .main-customers-say .panel .panel-title {
    margin-right: 40px;
    margin-left: 40px; }
    .main-customers-say .panel .panel-title a {
      color: #666666; }
      .main-customers-say .panel .panel-title a:hover {
        text-decoration: none;
        color: #DD1C1A; }
      .main-customers-say .panel .panel-title a:visited {
        text-decoration: none; }
  .main-customers-say .panel .panel-body img {
    vertical-align: top;
    border-radius: 50%;
    border: 1px solid #DD1C1A;
    padding: 2px;
    margin-left: 20px;
    margin-right: 20px; }
  .main-customers-say .panel .panel-body p {
    margin-top: 35px; }
  .main-customers-say .panel .comment-r {
    text-align: right; }
.main-customers-say h2 {
  color: #DD1C1A;
  font-weight: 900; }
.main-customers-say .panel-group {
  margin-top: 50px;
  margin-bottom: 50px; }

footer .footer-menu {
  margin: 60px 0 40px 0; }
  footer .footer-menu h4 {
    color: #DD1C1A;
    font-weight: 900; }
  footer .footer-menu .map {
    margin-top: 25px; }
    footer .footer-menu .map iframe {
      border: 1px solid #666666; }
  footer .footer-menu .social-media {
    text-align: left;
    line-height: 5em; }
    footer .footer-menu .social-media .youtube {
      background: #C05554; }
      footer .footer-menu .social-media .youtube:hover {
        opacity: 0.5; }
    footer .footer-menu .social-media .facebook {
      background: #3B5998; }
      footer .footer-menu .social-media .facebook:hover {
        opacity: 0.5; }
    footer .footer-menu .social-media .twitter {
      background: #55ACEE; }
      footer .footer-menu .social-media .twitter:hover {
        opacity: 0.5; }
    footer .footer-menu .social-media .instagram {
      background: #CB43A5; }
      footer .footer-menu .social-media .instagram:hover {
        opacity: 0.5; }
    footer .footer-menu .social-media a {
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      text-align: center;
      line-height: 2.5em;
      display: inline-block;
      background: navy;
      color: #fff;
      margin: 0.5em; }
  footer .footer-menu ul {
    text-decoration: none; }
    footer .footer-menu ul li a {
      padding: 5px;
      color: #666666; }
      footer .footer-menu ul li a:hover {
        color: #DD1C1A;
        background: none; }
footer .menu-f {
  margin-bottom: 1em;
  margin-top: 0.5em;
  background: #DD1C1A;
  text-align: center; }
  footer .menu-f ul {
    text-decoration: none; }
    footer .menu-f ul .first {
      border-left: 1px solid #FFE9D2; }
    footer .menu-f ul li {
      display: inline-block;
      text-align: center;
      border-right: 1px solid #FFE9D2;
      padding: 5px;
      margin: 5px; }
      footer .menu-f ul li a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        margin: 10px; }
        footer .menu-f ul li a:hover {
          opacity: 0.5; }
footer .copy-right {
  margin-top: 10px;
  font-weight: 900;
  color: #666666; }
  footer .copy-right p {
    margin-top: 10px; }

@media screen and (max-width: 800px) {
  .top-menu {
    display: none !important; }

  .logo {
    width: 100%; }
    .logo a {
      float: center; }
      .logo a img {
        width: 100px; } }
@media screen and (min-width: 700px) {
  .navbar-brand {
    display: none !important; } }
@media screen and (max-width: 700px) {
  .search-menu {
    display: none !important; } }
@media screen and (max-width: 500px) {
  .main-carousel {
    display: none !important; }

  .menu-f {
    display: none !important; } }

/*# sourceMappingURL=main.css.map */
