// BASES STYLES

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	margin: 0
	padding: 0

body
	background: #FEFEFE
	font-family: 'Source Sans Pro', sans-serif
	font-size: 16px

.btn-primary
	background: #fff
	border-color: #DD1C1A
	color: #DD1C1A
	&:hover
		color: #fff
		background: #DD1C1A
		border-color: #fff

.carousel-control.right, .carousel-control.left
	background-image: none
	color: #DD1C1A

.carousel-indicators li
	border-color: #DD1C1A

.carousel-indicators li.active
	background-color: #DD1C1A

.glyphicon-chevron-up
	color: #DD1C1A
	font-weight: 600

.control-custom
	color: #DD1C1A
	font-size: 30px
	margin: 20px
	&:hover
		color: rgba(230, 89, 88, .8)

.navbar-toggle
	border-color: #fff
	&:hover
		background: rgba(230, 89, 88, .8)
.icon-bar
	background: #fff

::-moz-selection
	background: rgba(51,51,51,.8)
	color: #fff
	text-shadow: none

::selection
	background: rgba(51,51,51,.8)
	color: #fff
	text-shadow: none
