// FOOTER STYLES

footer
	.footer-menu
		margin: 60px 0 40px 0
		h4
			color: #DD1C1A
			font-weight: 900
		.map
			margin-top: 25px
			iframe
				border: 1px solid #666666
		.social-media
			text-align: left
			line-height: 5em
			.youtube
				background: #C05554
				&:hover
					opacity: 0.5

			.facebook
				background: #3B5998
				&:hover
					opacity: 0.5
			.twitter
				background: #55ACEE
				&:hover
					opacity: 0.5
			.instagram
				background: #CB43A5
				&:hover
					opacity: 0.5
			a
				border-radius: 50%
				width: 2.5em
				height: 2.5em
				text-align: center
				line-height: 2.5em
				display: inline-block
				background: navy
				color: #fff
				margin: 0.5em
		ul
			text-decoration: none
			li
				
				a
					padding: 5px
					color: #666666
					&:hover
						color: #DD1C1A
						background: none
	.menu-f
		margin-bottom: 1em
		margin-top: 0.5em
		background: #DD1C1A
		text-align: center
		ul
			text-decoration: none
			.first
				border-left: 1px solid #FFE9D2
			li
				display: inline-block
				text-align: center
				border-right: 1px solid #FFE9D2
				padding: 5px
				margin: 5px
				a
					color: #fff
					text-decoration: none
					padding: 10px
					margin: 10px
					&:hover
						opacity: 0.5
	.copy-right
		margin-top: 10px
		font-weight: 900
		color: #666666
		p
			margin-top: 10px


					
			

