// HEADER STYLES

header
	background: #F0F0F0
	.logo
		padding-top: 0.5em
		color: #DD1C1A
		font-weight: 900
		p
			margin: 0
		a
			display: inline-block
	.top-menu
		margin-bottom: 1.25em
		margin-top: 0.5em
		text-align: right
		h4
			font-weight: 900
			margin-top: 40px
		a
			display: inline-block
			padding: 1.10em 1.05em
			font-size: 1em
			color: #666666
			line-height: 0.2em
			&:hover
				color: #DD1C1A
		.fr
			border-left: 1px solid #DD1C1A
	.menu
		background: #DD1C1A
		width: 100%
		margin-bottom: 0px
		.navbar-header
			.navbar-brand
				font-size: 1.15em
				color: #fff
				font-weight: 900
				&:hover
					text-decoration: none
					background: rgba(230, 89, 88, .8)

		ul
			list-style: none
			overflow: hidden
			margin: 0
			padding: 0
			li
				display: inline-block
				float: left
				line-height: 2em
				a
					display: inline-block
					padding: 1.25em 1.50em
					font-size: 1em
					color: #fff
					&:hover
						text-decoration: none
						background: rgba(230, 89, 88, .8)
	.search
		float: right
		width: 28%
		padding-top: 15px
		.search-menu
			input[type="text"]
				background: none
				border: 2px solid rgba(255,255,255,.7)
				color: rgba(255,255,255,.7)
				width: 90%
				height: 30px
				padding: 0 10px
				padding-right: 46px
				&:hover
					color: #fff
					border: 3px solid #fff
				&:focus
					color: #fff
					border: 3px solid #fff
				&::placeholder
					color: rgba(255,255,255,.7)
			.search-icon
				color: rgba(255,255,255,.8)
				background: none
				border: none
				cursor: pointer
				padding: 6px 6px 6px
				font-size: 16px
				line-height: 16px
				right: 0
				position: absolute
				&:hover
					color: #fff
					font-size: 18px

				



