// MAIN STYLES

.main-carousel
	.carousel
		.carousel-inner
			.item
				p
					color: #fff
					font-size: 28px
.main-catalogue
	.page-header
		h1
			color: #DD1C1A
			font-weight: 900
	.thumbnail
		.caption
			text-align: center
			h3
				color: #DD1C1A
	.controls
		display: -webkit-flex
		display: flex
		-webkit-flex-wrap: wrap
		flex-wrap: wrap
		-webkit-align-content: center
		justify-content: center
.main-demande
	margin-top: 50px
	margin-bottom : 50px
	background: #F0F0F0
	color: #666666
	border: 1px solid #E65958
	padding: 20px
	h2
		font-weight: 900
	.form-group
		.form-control
			border: 1px solid #E65958
		.btn-default
			border: 1px solid #E65958
	.form-control
		border: 1px solid #E65958
.main-customers-say
	.customers-say-bg
		background: url('../images/bg.jpg')
	.panel
		border: 1px solid #DD1C1A
		.panel-title
			margin-right: 40px
			margin-left: 40px
			a
				color: #666666
				&:hover
					text-decoration: none
					color: #DD1C1A
				&:visited
					text-decoration: none
		.panel-body
			img
				vertical-align: top
				border-radius: 50%
				border: 1px solid #DD1C1A
				padding: 2px
				margin-left: 20px
				margin-right: 20px
			p
				margin-top: 35px
		.comment-r
			text-align: right
	h2
		color: #DD1C1A
		font-weight: 900
	.panel-group
		margin-top: 50px
		margin-bottom: 50px



