// MEDIA QUERIES

@media screen and (max-width: 800px)
	.top-menu
		display: none!important
	.logo
		width: 100%
		a
			float: center
			img
				width: 100px

@media screen and (min-width: 700px)
	.navbar-brand
		display: none!important

@media screen and (max-width: 700px)
	.search-menu
		display: none!important

@media screen and (max-width: 500px)
	.main-carousel
		display: none!important
	.menu-f
		display: none!important

				





	
		

	